*{
	font-family: 'Fira Sans', sans-serif;

	.table{
		padding: 50px 50px 50px 200px;

		.element{
			padding-right: 25px;
			h2{
				color: #95D5B7;
			}
		}
	}

	img{
		width: 150px;
	}

	.octo{
		padding-top: 25px;
	}
}
